* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background: #fff;
  font-family: 'Microsoft YaHei', '微软雅黑', Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
tr {
  margin: 0 auto;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  text-align: center;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,
p {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

img {
  border: 0 none;
}

i,
em {
  font-style: normal;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

.NoBorder {
  border: 0;
}

.t_l {
  text-align: left;
}

.t_c {
  text-align: center;
}

.t_r {
  text-align: right;
}

.UnLine {
  text-decoration: underline;
}

.DisunLine {
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0px;
  width: 100%;
  font-size: 1px;
  line-height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.FB {
  font-weight: bold;
}

.FN {
  font-weight: normal;
}

.FI {
  font-style: italic;
}

.F10 {
  font-size: 10px;
}

.F11 {
  font-size: 11px;
}

.F12 {
  font-size: 12px;
}

.F13 {
  font-size: 13px;
}

.F14 {
  font-size: 14px;
}

.F16 {
  font-size: 16px;
}

.F18 {
  font-size: 18px;
}
// *********************************滚动条样式*********************************
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #d6dddc;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #fff;
}
// 火狐
div {
  scrollbar-color: #d6dddc #fff; // 将第一种颜色应用于滚动条拇指，第二种颜色应用于滚动条轨道。. */
  scrollbar-width: thin; //auto 默认 thin瘦体 none 无滚动条
}

// *********************************通用统一样式**********************************
:root {
  --borderColor: rgb(210, 210, 210);
  --themeColor: rgb(0, 161, 135);
}
.shareBox {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-just-between {
  justify-content: space-between;
}

.flex-just-around {
  justify-content: space-around;
}

.flex-just-center {
  justify-content: center;
}
