<template>
  <div id="Home" class="shareBox"><i class="fa fa-camera-retro"></i>首页</div>
</template>

<script>
import { getGroups } from '@/http/api.js'
export default {
  name: 'Home',
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {
    // getGroups().then(res => {})
  },
  methods: {}
}
</script>

<style lang="less">
#Home {
}
</style>
