<template>
  <div>login</div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
}
</script>

<style lang="less">
#Login {
}
</style>
