<template>
  <div id="container" class="flex flex-column">
    <div class="header">Header</div>
    <div class="container flex">
      <div class="aside">Aside</div>
      <div class="main">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'container',
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
}
</script>

<style lang="less" scoped>
#container {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 100%;
    background: #e2e2e2;
    height: 60px;
  }
  .container {
    width: 100%;
    height: calc(100% - 60px);
    .aside {
      background: #eee;
      width: 300px;
      height: 100%;
    }
    .main {
      width: calc(100% - 300px);
      height: 100%;
      overflow: hidden;
    }
  }
}
</style>
